### Define all packages and modules needed for the notebook.

In [1]:
import pandas as pd

### Read in raw datasets

In [2]:
# Read in the "Distribution of COVID-19 deaths and populations, by jurisdiction, age, and race and Hispanic origin" dataset
impacts_file = 'Data/Input/raw_covid_impacts.csv'
impacts_df = pd.read_csv(impacts_file)

# Read in the "COVID-19 Vaccine Distribution Allocations by Jurisdiction" datasets for:

# Janssen
janssen_file = 'Data/Input/raw_janssen.csv'
janssen_df = pd.read_csv(janssen_file)

# Moderna
moderna_file = 'Data/Input/raw_moderna.csv'
moderna_df = pd.read_csv(moderna_file)

# Pfizer
pfizer_file = 'Data/Input/raw_pfizer.csv'
pfizer_df = pd.read_csv(pfizer_file)

## Cleaning the COVID-19 Impacts dataframe

### Remove 'United States' and 'New York City' data shown in the 'State' field
- The way that we are intending to integrate supplementary data, 'United States' serves as a unusable total for all states
- This only obfuscates the compatibility of the data, and can be queried if truly desired anyhow

In [3]:
impacts_df1 = impacts_df[
    (impacts_df["State"] != "United States")
    & (impacts_df["State"] != "New York City")
]

### Remove 'All ages, unadjusted' and 'All ages, standardized'  data shown in the AgeGroup field
- The way we are intending to integrate supplementary data, these would complicate querying
- The raw unadjusted values can be queried if deemed necessary
- the standardized values can be added back if there is a particular usefulness in using this data

In [4]:
impacts_df2 = impacts_df1[
    (impacts_df1["AgeGroup"] != "All ages, unadjusted")
    & (impacts_df1["AgeGroup"] != "All ages, standardized")
]

### Drop the 'Data as of', 'Start Date', and 'End Date 'columns
- As these columns contain the same data point, we can safely remove
- We will specify the details of this dataframe in the README

In [5]:
impacts_df3 = impacts_df2.drop(columns=['Data as of', 'Start Date', 'End Date'])

### Rename columns to be more SQL friendly
- Remove all spaces, replace with underscores
- Limit use of any special characters
- Reduce length where appropriate

In [6]:
# Define the dictionary used to rename each column
column_rename = {
    "State" : "state"
    ,"Race/Hispanic origin" : "race_hispanic"
    ,"Count of COVID-19 deaths" : "death_count"
    ,"Distribution of COVID-19 deaths (%)" : "death_percent"
    ,"Unweighted distribution of population (%)" : "unweighted_population_percent"
    ,"Weighted distribution of population (%)" : "weighted_population_percent"
    ,"Difference between COVID-19 and unweighted population %" : "diff_death_unweighted_population_percent"
    ,"Difference between COVID-19 and weighted population %" : "diff_death_weighted_population_percent"
    ,"AgeGroup" : "age_group"
    ,"Suppression" : "suppression"
}

In [7]:
# Invoke the the column_rename dictionary to change column names
impacts_df4 = impacts_df3.rename(columns = column_rename)

### Reorder data to improve visibility
- Column priority will be the following: state, age_group, race_hispanic

In [8]:
impacts_df5 = impacts_df4.sort_values(['state', 'age_group', 'race_hispanic'])

### Reset index values
- Since we've removed rows and reordered data we'll have to reset the index
- This will make the migration into SQL much better

In [9]:
impacts_df6 = impacts_df5.reset_index(drop=True)

### View sample of the finished dataframe

In [10]:
impacts_df6.head(50)

,state,race_hispanic,death_count,death_percent,unweighted_population_percent,weighted_population_percent,diff_death_unweighted_population_percent,diff_death_weighted_population_percent,age_group,suppression
0,Alabama,Hispanic,NaN,NaN,7.3,6.6,NaN,NaN,0-24 years,Suppressed (counts <10)
1,Alabama,Non-Hispanic American Indian or Alaska Native,0.0,0.0,0.5,0.3,-0.5,-0.3,0-24 years,NaN
2,Alabama,Non-Hispanic Asian,0.0,0.0,1.5,1.9,-1.5,-1.9,0-24 years,NaN
3,Alabama,Non-Hispanic Black,NaN,NaN,29.5,40.0,NaN,NaN,0-24 years,Suppressed (counts <10)
4,Alabama,Non-Hispanic Native Hawaiian or Other Pacific ...,0.0,0.0,0.1,0.1,-0.1,-0.1,0-24 years,NaN
5,Alabama,Non-Hispanic White,NaN,NaN,58.1,48.4,NaN,NaN,0-24 years,Suppressed (counts <10)
6,Alabama,Other,0.0,0.0,3.0,2.8,-3.0,-2.8,0-24 years,NaN
7,Alabama,Hispanic,NaN,NaN,5.0,4.4,NaN,NaN,25-34 years,Suppressed (counts <10)
8,Alabama,Non-Hispanic American Indian or Alaska Native,0.0,0.0,0.6,0.4,-0.6,-0.4,25-34 years,NaN
9,Alabama,Non-Hispanic Asian,0.0,0.0,1.8,2.3,-1.8,-2.3,25-34 years,NaN
10,Alabama,Non-Hispanic Black,36.0,57.1,30.1,39.3,27.0,17.8,25-34 years,NaN
11,Alabama,Non-Hispanic Native Hawaiian or Other Pacific ...,0.0,0.0,0.1,0.0,-0.1,0.0,25-34 years,NaN
12,Alabama,Non-Hispanic White,20.0,31.7,61.1,52.2,-29.4,-20.5,25-34 years,NaN
13,Alabama,Other,NaN,NaN,1.4,1.3,NaN,NaN,25-34 years,Suppressed (counts <10)
14,Alabama,Hispanic,10.0,5.3,5.5,4.7,-0.2,0.6,35-44 years,NaN
15,Alabama,Non-Hispanic American Indian or Alaska Native,0.0,0.0,0.6,0.4,-0.6,-0.4,35-44 years,NaN
16,Alabama,Non-Hispanic Asian,NaN,NaN,2.0,2.5,NaN,NaN,35-44 years,Suppressed (counts <10)
17,Alabama,Non-Hispanic Black,115.0,61.2,27.6,37.4,33.6,23.8,35-44 years,NaN
18,Alabama,Non-Hispanic Native Hawaiian or Other Pacific ...,0.0,0.0,0.1,0.0,-0.1,0.0,35-44 years,NaN
19,Alabama,Non-Hispanic White,62.0,33.0,63.2,53.8,-30.2,-20.8,35-44 years,NaN
20,Alabama,Other,0.0,0.0,1.0,1.0,-1.0,-1.0,35-44 years,NaN
21,Alabama,Hispanic,46.0,8.7,3.6,3.3,5.1,5.4,45-54 years,NaN
22,Alabama,Non-Hispanic American Indian or Alaska Native,NaN,NaN,0.6,0.4,NaN,NaN,45-54 years,Suppressed (counts <10)
23,Alabama,Non-Hispanic Asian,NaN,NaN,1.8,2.4,NaN,NaN,45-54 years,Suppressed (counts <10)
24,Alabama,Non-Hispanic Black,239.0,45.4,25.2,35.1,20.2,10.3,45-54 years,NaN
25,Alabama,Non-Hispanic Native Hawaiian or Other Pacific ...,0.0,0.0,0.0,0.0,0.0,0.0,45-54 years,NaN
26,Alabama,Non-Hispanic White,235.0,44.6,67.9,57.9,-23.3,-13.3,45-54 years,NaN
27,Alabama,Other,NaN,NaN,0.9,0.9,NaN,NaN,45-54 years,Suppressed (counts <10)
28,Alabama,Hispanic,49.0,3.6,2.0,1.9,1.6,1.7,55-64 years,NaN
29,Alabama,Non-Hispanic American Indian or Alaska Native,NaN,NaN,0.7,0.4,NaN,NaN,55-64 years,Suppressed (counts <10)
30,Alabama,Non-Hispanic Asian,NaN,NaN,1.2,1.5,NaN,NaN,55-64 years,Suppressed (counts <10)
31,Alabama,Non-Hispanic Black,562.0,41.4,24.7,34.9,16.7,6.5,55-64 years,NaN
32,Alabama,Non-Hispanic Native Hawaiian or Other Pacific ...,0.0,0.0,0.0,0.0,0.0,0.0,55-64 years,NaN
33,Alabama,Non-Hispanic White,731.0,53.9,70.6,60.5,-16.7,-6.6,55-64 years,NaN
34,Alabama,Other,NaN,NaN,0.8,0.7,NaN,NaN,55-64 years,Suppressed (counts <10)
35,Alabama,Hispanic,33.0,1.3,1.2,1.1,0.1,0.2,65-74 years,NaN
36,Alabama,Non-Hispanic American Indian or Alaska Native,NaN,NaN,0.6,0.4,NaN,NaN,65-74 years,Suppressed (counts <10)
37,Alabama,Non-Hispanic Asian,14.0,0.6,1.0,1.2,-0.4,-0.6,65-74 years,NaN
38,Alabama,Non-Hispanic Black,826.0,32.7,21.4,31.1,11.3,1.6,65-74 years,NaN
39,Alabama,Non-Hispanic Native Hawaiian or Other Pacific ...,0.0,0.0,0.0,0.0,0.0,0.0,65-74 years,NaN
40,Alabama,Non-Hispanic White,1643.0,65.1,75.0,65.5,-9.9,-0.4,65-74 years,NaN
41,Alabama,Other,NaN,NaN,0.8,0.6,NaN,NaN,65-74 years,Suppressed (counts <10)
42,Alabama,Hispanic,19.0,0.7,1.1,1.0,-0.4,-0.3,75-84 years,NaN
43,Alabama,Non-Hispanic American Indian or Alaska Native,NaN,NaN,0.5,0.4,NaN,NaN,75-84 years,Suppressed (counts <10)
44,Alabama,Non-Hispanic Asian,13.0,0.5,0.7,1.0,-0.2,-0.5,75-84 years,NaN
45,Alabama,Non-Hispanic Black,632.0,22.0,17.2,24.8,4.8,-2.8,75-84 years,NaN
46,Alabama,Non-Hispanic Native Hawaiian or Other Pacific ...,0.0,0.0,0.0,0.0,0.0,0.0,75-84 years,NaN
47,Alabama,Non-Hispanic White,2196.0,76.6,79.7,72.2,-3.1,4.4,75-84 years,NaN
48,Alabama,Other,NaN,NaN,0.7,0.5,NaN,NaN,75-84 years,Suppressed (counts <10)
49,Alabama,Hispanic,12.0,0.5,1.4,1.2,-0.9,-0.7,85 years and over,NaN

## Cleaning the COVID-19 Distribution dataframes

In [11]:
# Delete rows for regions that don't show up in state:
    # American Samoa, Chicago, Federal Entities, Guam, Mariana Islands, Marshall Islands, 
    # Micronesia, Palau, Puerto Rico, U.S. Virgin Islands
# Rename columns to specify the type of vaccine X
# Sort by Week of Allocations and Jurisdiction in that priority Y
# Reset indexes
# Add data together - horizontally YAfter
# Remove extra columns
# Convert empty/NaN cells (Moderna and Janssen) to 0

### Rename columns for Janssen, Moderna and Pfizer
- To prepare for the merging of data, distinguish columns with the same name
- Since pfizer_df will serve as the base, we won't have to rename it's 'Jurisdiction' and Week of 'Allocation' field to specifiy Pfizer

In [27]:
# Define the dictionaries used to rename the columns in the vaccine datasets
janssen = "janssen_"
moderna = "moderna_"
pfizer = "pfizer_"

janssen_rename = {
    "Jurisdiction" : "jurisdiction"
    ,"Week of Allocations" : janssen + "allocation_week"
    ,"1st Dose Allocations" : janssen + "1st_dose_allocation"
}

moderna_rename = {
    "Jurisdiction" : "jurisdiction"
    ,"Week of Allocations" : moderna + "allocation_week"
    ,"1st Dose Allocations" : moderna + "1st_dose_allocation"
    ,"2nd Dose Allocations" : moderna + "2nd_dose_allocation"
}

pfizer_rename = {
    "Jurisdiction" : "jurisdiction"
    ,"Week of Allocations" : pfizer + "allocation_week"
    ,"1st Dose Allocations" : pfizer + "1st_dose_allocation"
    ,"2nd Dose Allocations" : pfizer + "2nd_dose_allocation"
}

In [28]:
janssen_df1 = janssen_df.rename(columns = janssen_rename)

moderna_df1 = moderna_df.rename(columns = moderna_rename)

pfizer_df1 = pfizer_df.rename(columns = pfizer_rename)

### Create GroupBy DataFrames taking sums on 'Jurisdiction'
- We are looking to create a singular instance for each jurisdiction, taking the totals for each column
- We will do this by taking the sum for 1st dose and 2nd dose allocations

In [30]:
group_janssen = janssen_df1.groupby(["jurisdiction"])
janssen_first_sum = group_janssen["janssen_1st_dose_allocation"].sum()

group_moderna = moderna_df1.groupby(["jurisdiction"])
moderna_first_sum = group_moderna["moderna_1st_dose_allocation"].sum()
moderna_second_sum = group_moderna["moderna_2nd_dose_allocation"].sum()

group_pfizer = pfizer_df1.groupby(["jurisdiction"])
pfizer_first_sum = group_pfizer["pfizer_1st_dose_allocation"].sum()
pfizer_second_sum = group_pfizer["pfizer_2nd_dose_allocation"].sum()

In [39]:
group_janssen_df = pd.DataFrame({
    "janssen_1st_dose_allocation" : janssen_first_sum
})
# group_janssen_df.reset_index(level=0, inplace=True)


group_moderna_df = pd.DataFrame({
    "moderna_1st_dose_allocation" : moderna_first_sum
    ,"moderna_2nd_dose_allocation" : moderna_second_sum
})
# group_moderna_df.reset_index(level=0, inplace=True)


group_pfizer_df = pd.DataFrame({
    "pfizer_1st_dose_allocation" : pfizer_first_sum
    ,"pfizer_2nd_dose_allocation" : pfizer_second_sum
})
# group_pfizer_df.reset_index(level=0, inplace=True)

In [45]:
vaccine_allocation = pd.concat([group_pfizer_df, group_moderna_df, group_janssen_df], axis=1)
vaccine_allocation.reset_index(level=0, inplace=True)

vaccine_allocation["complete_vaccines"] = vaccine_allocation.pfizer_1st_dose_allocation + vaccine_allocation.moderna_1st_dose_allocation + vaccine_allocation.janssen_1st_dose_allocation

,jurisdiction,pfizer_1st_dose_allocation,pfizer_2nd_dose_allocation,moderna_1st_dose_allocation,moderna_2nd_dose_allocation,janssen_1st_dose_allocation,complete_vaccines
0,Alabama,613860,613860,603400,603400,51300,1268560
1,Alaska,143520,143520,134000,134000,11500,289020
2,American Samoa,30810,0,12400,0,600,43810
3,Arizona,871260,871260,855200,855200,72600,1799060
4,Arkansas,377130,377130,366000,366000,31200,774330
...,...,...,...,...,...,...,...
58,Virginia,1065285,1065285,1047700,1047700,88900,2201885
59,Washington,948285,948285,916400,916400,77700,1942385
60,West Virginia,240630,240630,233900,233900,19900,494430
61,Wisconsin,739830,739830,722700,722700,61400,1523930
62,Wyoming,78390,78390,72200,72200,6200,156790

### Remove row data shown in the 'Jurisdiction' field
- Can delete rows for **American Samoa, Chicago, Federal Entities, Guam, Mariana Islands, Marshall Islands, Micronesia, New York City, Palau, Puerto Rico,** and **U.S. Virgin Islands** as it doesn't have a match with the impacts dataframe
- The use of these jurisdictions will cause more confusion than not, such as New York City being a subset of New York

In [46]:
vaccine_allocation.head(63)

,jurisdiction,pfizer_1st_dose_allocation,pfizer_2nd_dose_allocation,moderna_1st_dose_allocation,moderna_2nd_dose_allocation,janssen_1st_dose_allocation,complete_vaccines
0,Alabama,613860,613860,603400,603400,51300,1268560
1,Alaska,143520,143520,134000,134000,11500,289020
2,American Samoa,30810,0,12400,0,600,43810
3,Arizona,871260,871260,855200,855200,72600,1799060
4,Arkansas,377130,377130,366000,366000,31200,774330
...,...,...,...,...,...,...,...
58,Virginia,1065285,1065285,1047700,1047700,88900,2201885
59,Washington,948285,948285,916400,916400,77700,1942385
60,West Virginia,240630,240630,233900,233900,19900,494430
61,Wisconsin,739830,739830,722700,722700,61400,1523930
62,Wyoming,78390,78390,72200,72200,6200,156790